# macOS system files
.DS_Store

# Sensitive environment files
.env
secrets/

# Ignore FAISS index files and related metadata
faiss_index/
dfl_faiss_index/
faiss_version.txt
dfl_version.txt
scheme_db_latest.xlsx

# Python virtual environment
myenv/

# Python cache files
__pycache__/
*.pyc

# Optional: Ignore editor-specific files (if you use any)
*.swp
*.swo
.vscode/
.idea/




