langchain
langchain-core
langchain-community
langchain-openai
pydantic
python-dotenv
pandas
gdown
numpy
pymongo
openpyxl
tiktoken
openai
faiss-cpu
google-cloud-texttospeech
pinecone
langchain-pinecone
fastapi
uvicorn[standard]
sse-starlette
sseclient-py
redis
