langchain
langchain-core
langchain-community
langchain-openai
pydantic==2.9.2
python-dotenv
pandas
gdown
streamlit
numpy
pymongo
openpyxl
tiktoken>=0.7.0
openai>=1.0.0
faiss-cpu>=1.8.0
google-cloud-texttospeech
pinecone-client
langchain-pinecone
