langchain
langchain-core
langchain-community
langchain-openai
pydantic
python-dotenv
pandas
gdown
streamlit
numpy
pymongo
openpyxl
tiktoken
openai
faiss-cpu
google-cloud-texttospeech
pinecone
langchain-pinecone
